*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#Home,#Adopt,#banner,#About,#News,#Project,#Call,#adoptChild,#myvideo,#newsChild,#App{
    width: 100%;
}
#banner>img{
        width: 100%;
        margin-bottom: 3%;
}